<div *ngIf="model && isLoading === false">
  <advanced-form-edit #form [formName]="formConfig" [(data)]="model"></advanced-form-edit>
</div>
<div>
  <form #form="ngForm" novalidate class="formio-form">
    <div class="form-group has-feedback formio-component formio-component-textarea">
      <label for="notes" class="col-form-label" [translate]="'iTheses.Notes'"></label>
      <div>
        <div #notes>
          <input type="text" class="d-none" [(ngModel)]="model.notes" id="notes" name="notes-text">
        </div>
      </div>
    </div>
  </form>
</div>