<div class="">

  <div class="search-filters" *ngIf="!filters || filters.length > 0">
    <form class="form-inline p-2 col">

      <div class="form-group col-12 col-md-6 py-1">
        <label class="pr-2" translate="GenericList.Search"></label>
        <input spellcheck="false" (keyup)="search()" type="text" id="searchText" [(ngModel)]="searchText"
          name="searchText" class="form-control col text-left">
      </div>

    </form>
  </div>

  <div class="flex-between-center">
    <div>
      <app-generic-switch [options]="viewOptions" *ngIf="table || list[0]?.tableConfig" [(selected)]="viewOption"
        (selectedChange)="onViewOptionChange($event)"></app-generic-switch>
    </div>
    <div *ngIf="list.length && !table" class="counter">
      <ng-container *ngIf="!searchText">
        <span>{{ filteredList.length }}</span>
        <span class="name" translate="GenericList.Items"></span>
      </ng-container>
      <ng-container *ngIf="searchText">
        <span>{{ filteredList.length }}</span> /<span>{{ list.length }}</span>
        <span class="name" translate="GenericList.Items"></span>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="viewOption.name == 'list' && !list[0]?.itemConfig">
    <div class="items-holder">
      <ng-container *ngFor="let item of filteredList">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="viewOption.name == 'list' && list[0]?.itemConfig">
    <div class="items-holder">
      <ng-container *ngFor="let item of filteredList">
        <app-generic-item [header]="item.itemConfig.header" [body]="item.itemConfig.body"
          [buttons]="item.itemConfig.buttons || []">
        </app-generic-item>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="viewOption.name == 'table' && !table">
    <table class="dataTable no-footer mb-5">
      <thead>
        <tr>
          <th *ngFor="let cell of filteredList[0].tableConfig">
            <span [translate]="cell[0]"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredList; let n = index" [ngClass]="{'even': n % 2 == 0, 'odd': n%2 == 1}">
          <td *ngFor="let cell of item.tableConfig">{{cell[1]}}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

</div>