<div class="row">
  <div class="col-lg-9">
    <div class="py-4">
      <h2 class="d-inline" [translate]="'ClassesLocal.ClassHistory'"></h2>
    </div>
  </div>
</div>
<body class="app2">
<div class="app-body">
<div  class="app-sidebar">
  <ul>
  <li *ngFor="let i of info2 | groupBy: ['year.alternateName','period.name'] | values; let j = index;">
    <a class="area-side fragment-link" [class.active]="selectedIndex === j" (click)="setIndex(j)" [routerLink]="['/classes/all']" fragment="{{i[0]?.period?.name}}{{i[0].year.alternateName}}" >
    {{ i[0].period.name }} {{i[0].year.alternateName}}
  </a>
  </li>
  </ul>
</div>
<div class="separator"></div>
  <div class="main inner__content px-5" id="inner__content" (scroll)="scrollHandler($event)">

    <div *ngFor="let i of info2 | groupBy: ['year.alternateName','period.name'] | values" class="title years">
      <h3 id ="{{i[0]?.period?.name}}{{i[0].year.alternateName}}"> {{ i[0].period.name }} {{i[0].year.alternateName}}</h3>
      <div *ngFor="let x of i" class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-10 align-self-center'>

              <div class='row card-body-title col-12' >
                <h5>
                  {{x.title}}
                </h5>
              </div>
              <div class='row card-body-title'>
                <div class='col-2 d-none d-sm-block'>
                  <h6>
                    <i class =" fa fa-flag-checkered "></i>   {{x.course.displayCode}}
                  </h6>
                </div>
                <div class='col-2 d-none d-sm-block mr-auto'>
                  <h6>
                    <i class ="fa fa-user"></i>   {{ x.numberOfStudents }} <span *ngIf="x.numberOfStudents > 1" [translate]="'ClassesLocal.Students'"></span><span *ngIf="x.numberOfStudents === 1" [translate]="'ClassesLocal.Student'"></span>
                  </h6>
                </div>
                <div class='col-7 d-none d-sm-block mr-auto'>
                  <h6>
                    <i class ="fa fa-group"></i>   {{ x.course.department | localize:['name'] }}
                  </h6>
                </div>
                <div class='col-3 d-none d-sm-block mr-auto'>
                  <h6>
                    <i class ="fa fa-calendar"></i>   {{ x.period.name }} {{x.year.alternateName}}
                  </h6>
                </div>
                <div class='col d-none d-sm-block mr-auto'>
                  <h6>
                    <i class ="fa fa-university"></i> {{instDepar}}
                  </h6>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    </div>
</body>
