<div class="new-card generic-item" (click)="expanded = true" [ngClass]="{'expanded': expanded}">
  <div class="new-card-body">
    <div class="header">

      <div class="number" *ngIf="number">{{number}}</div>
      <div class="number" *ngIf="grade" [ngClass]="{'positive': grade >= 5, 'negative': grade < 5}">{{grade}}</div>

      <h5 class="name">
        <span *ngFor="let prop of header">{{prop[1]}} </span>
      </h5>
    </div>
    <div class="d-md-none">
      <div class="expander" *ngIf="!expanded && body && body.length">
        <i class="ml-1 pt-1 fa" [ngClass]="expanded ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </div>
      <div class="expander" *ngIf="expanded" (click)="expanded = false; $event.stopPropagation()">
        <i class="ml-1 pt-1 fa" [ngClass]="expanded ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
      </div>
      <div class="body" *ngIf="expanded">

        <div *ngFor="let prop of body">
          <span class="text-secondary">
            <span [translate]="prop[0]"></span>:
          </span>
          <span>{{prop[1]}}</span>
        </div>

        <ng-container *ngFor="let prop of buttons; let i=index">
          <div class="btn btn-universis px-3 my-2" *ngIf="i != 0" [routerLink]="buttonRouterLink(prop)"
            (click)="buttonClick(prop)">
            <span class="pr-1" *ngIf="prop[2]?.startsWith('fa')">
              <i class="{{prop[2]}}"></i>
            </span>
            <span [translate]="prop[0]"></span>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="d-none d-md-block">
      <div class="body d-flex">

        <div class="d-flex flex-wrap">
          <div *ngFor="let prop of body" class="dot-join">
            <span class="text-secondary">
              <span *ngIf="prop[2]?.startsWith('fa')">
                <i class="{{prop[2]}} pr-1"></i>
              </span>
              <span *ngIf="!prop[2]?.startsWith('fa')">
                <span [translate]="prop[0]"></span>:
              </span>
            </span>
            <span>{{prop[1]}}</span>
          </div>
        </div>

        <div class="d-flex pl-3" *ngIf="buttons?.length >= 2">
          <ng-container *ngFor="let prop of buttons; let i=index">

            <div class="inline-button" *ngIf="i != 0">
              <a [attr.href]="buttonHref(prop)" (click)="buttonClick(prop)">
                <span class="px-2">
                  <span *ngIf="prop[2]?.startsWith('fa')">
                    <i class="text-indigo {{prop[2]}}"></i>
                  </span>
                  <span *ngIf="!prop[2]?.startsWith('fa')">
                    <span [translate]="prop[0]"></span>
                  </span>
                </span>
              </a>
            </div>

          </ng-container>
        </div>

      </div>
    </div>
  </div>
  
  <div class="new-card-right" *ngIf="buttons?.length > 0" [routerLink]="buttonRouterLink(buttons[0])"
    (click)="buttonClick(buttons[0])">
    <div class="">
      <a class="btn btn-default">
        <i class="text-indigo {{buttons[0][2]}}"></i>
      </a>
    </div>
  </div>
</div>